/* @import url("reset.css");  */

body {
    background: url("../images/background.jpg");
    color: white;
    font-family: 'Merienda', cursive;
}

.jumbotron {
    background: transparent;
}

.card {
    color: black;
}
